<!DOCTYPE html>
<html lang="en">

<head>
    <title>Update Animal</title>
</head>

<body>
    <div class="data-form">
        <form action="/update" method="post">
            <h1>Update Your Animals!</h1>

            <table id="updateAnimal">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                </tr>
                <% animals.forEach(animal=> { %>
                    <tr>
                        <td>
                            <%= animal.id %>
                        </td>
                        <td>
                            <%= animal.name %>
                        </td>
                        <td>
                            <%= animal.description %>
                        </td>
                        <td>
                            <%= animal.createdAt %>
                        </td>
                        <td>
                            <%= animal.updatedAt %>
                        </td>

                    </tr>
                    <% }); %>
            </table>

            <section class="section">
                <label for="selectId">Select ID:</label>
                <select name="id" id="selectId">
                    <% animals.forEach(animal=> { %>
                        <option value="<%= animal.id %>">
                            <%= animal.id %>
                        </option>
                        <% }); %>
                </select>

                <label for="inputName">Name:</label>
                <input type="text" name="name" id="inputName" placeholder="Name" autofocus>

                <label for="inputDescription">Description:</label>
                <input type="text" name="description" id="inputDescription" placeholder="Description" autofocus>

                <!-- Can't see these -->
                <input type="hidden" name="createdAt" value="<%= new Date().toISOString() %>">
                <input type="hidden" name="updatedAt" value="<%= new Date().toISOString() %>">

                <button type="submit" value="submit" class="layoutButton">Update</button>
            </section>
        </form>
    </div>
</body>

</html>